<a href="https://colab.research.google.com/github/ladsong/if697-2020.2-data-science/blob/projeto1/Spotify_year_trends.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise de trends do Spotify
O objetivo desse projeto é analisar os datasets do Spotify, [disponível no Kaggle](https://www.kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks), para extrair informações como quais os gêneros mais escutados ao longo dos anos e suas caracteristicas musicais.

Dos datasets fornecidos, iremos utilizar o `data_o.csv` e o `tracks.csv`, cujo já detém os dados que precisamos, como genero, ano, popularidade, [features do spotify](https://developer.spotify.com/documentation/web-api/reference/#endpoint-get-audio-features), etc.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Coleta
Nesse primeiro momento iremos carregar o dataset do Kaggle em nosso notebook e analisar os dados enviados, para dá inicio ao pré processamento.

### Kaggle

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"
# /content/gdrive/My Drive/Kaggle é o caminho onde o arquivo kaggle.json está presente do Google Drive
#Mudar o diretorio
%cd /content/gdrive/My Drive/Kaggle

/content/gdrive/My Drive/Kaggle

In [4]:
!kaggle datasets download -d yamaerenay/spotify-dataset-19212020-160k-tracks

Downloading spotify-dataset-19212020-160k-tracks.zip to /content/gdrive/My Drive/Kaggle
 98% 191M/195M [00:02<00:00, 71.7MB/s]
100% 195M/195M [00:02<00:00, 81.6MB/s]

In [5]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  spotify-dataset-19212020-160k-tracks.zip
replace artists.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: artists.csv
  inflating: data_by_artist_o.csv
  inflating: data_by_genres_o.csv
  inflating: data_by_year_o.csv
  inflating: data_o.csv
  inflating: dict_artists.json
  inflating: tracks.csv

### Carregando o dataset

In [6]:
df_data = pd.read_csv('data_o.csv')
df_tracks = pd.read_csv('tracks.csv')
df_data_by_genres = pd.read_csv('data_by_genres_o.csv')
df_data_by_artist = pd.read_csv('data_by_artist_o.csv')
df_data_by_year = pd.read_csv('data_by_year_o.csv')

In [7]:
print(f"DF - df_data:")
display(df_data.head())

DF - df_data:

   valence  year  acousticness  ... release_date  speechiness    tempo
0   0.0594  1921         0.982  ...         1921       0.0366   80.954
1   0.9630  1921         0.732  ...         1921       0.4150   60.936
2   0.0394  1921         0.961  ...         1921       0.0339  110.339
3   0.1650  1921         0.967  ...         1921       0.0354  100.109
4   0.2530  1921         0.957  ...         1921       0.0380  101.665

[5 rows x 19 columns]

In [8]:
print(f"# DF - df_tracks:")
display(df_tracks.head())

# DF - df_tracks:

                       id  ... time_signature
0  35iwgR4jXetI318WEWsa1Q  ...              3
1  021ht4sdgPcrDgSk7JTbKY  ...              1
2  07A5yehtSnoedViJAZkNnc  ...              5
3  08FmqUhxtyLTn6pAh6bk45  ...              3
4  08y9GfoqCWfOGsKdwojr5e  ...              4

[5 rows x 20 columns]

In [9]:
print(f"# DF - df_data_by_artist:")
display(df_data_by_artist.head())

# DF - df_data_by_artist:

           genres  ... count
0  ['show tunes']  ...     9
1              []  ...    26
2              []  ...     7
3              []  ...    27
4              []  ...     7

[5 rows x 16 columns]

In [10]:
print(f"# DF - df_data_by_year:")
display(df_data_by_year.head())

# DF - df_data_by_year:

   mode  year  acousticness  ...   valence  popularity  key
0     1  1921      0.886896  ...  0.379327    0.653333    2
1     1  1922      0.938592  ...  0.535549    0.140845   10
2     1  1923      0.957247  ...  0.625492    5.389189    0
3     1  1924      0.940200  ...  0.663725    0.661017   10
4     1  1925      0.962607  ...  0.621929    2.604317    5

[5 rows x 14 columns]

In [11]:
print(f"# DF - df_data_by_genre:")
display(df_data_by_genres.head())

# DF - df_data_by_genre:

   mode                  genres  acousticness  ...   valence  popularity  key
0     1  21st century classical      0.979333  ...  0.103783   27.833333    6
1     1                   432hz      0.494780  ...  0.221750   52.500000    5
2     1                   8-bit      0.762000  ...  0.975000   48.000000    7
3     1                      []      0.651417  ...  0.513604   20.859882    7
4     1              a cappella      0.676557  ...  0.448249   45.820071    7

[5 rows x 14 columns]

# 2. Pré Processamento

Analisar dados que não façam sentindo
Explicar o que é tempo e pq retirar as linhas com o valor igual a zero

In [ ]:
df_data.loc[df_data['tempo'] == 0]

In [ ]:
df_data.loc[df_data['duration_ms'] == 0]

In [ ]:
df_data.loc[df_data['year'] == 0]

## Análise de correlações

In [ ]:
corr = df_data.corr(method='pearson')
plt.figure(figsize=(14,8))
sns.heatmap(corr, annot= True)
plt.title('Correlação')
plt.show()

Podemos observar alguns campos com correção muito baixa com o campo popularidade, como valence, explicit, key, liveness, loudness, mode. Com isso, vamos retirar essas colunas

In [ ]:
df_data.drop(['valence', 'explicit', 'key', 'liveness', 'loudness', 'mode'], axis = 1, inplace=True )

#### Nova correlação ####
corr = df_data.corr(method='pearson')
plt.figure(figsize=(14,8))
sns.heatmap(corr, annot= True)
plt.title('Correlação')
plt.show()

## Adicionando dataset de gênero
Dado que o dataset `df_data` não possue os gêneros das músicas e o nosso objetivo é analisar a popularidade dos generos com o passar dos anos, iremos adicionar o dataset `data_by_genres`

Verificar se existem generos vazios

In [ ]:
df_data_by_artist.loc[df_data_by_artist['genres'].notna()]

In [ ]:
df = pd.merge(df_data, df_tracks, left_on='id', right_on='id', how='inner', suffixes=('_data','_by_artist'))

In [ ]:
display(df)